.textJC {
    text-align: justify;
    margin-top: 2rem;
}

.textName {
    text-align: center;
}

.imageET {
    margin-top: 2rem;
    margin-left: 2rem;
}

.separator {
    color: rgb(115, 192, 209) !important;
    border-top-width: 2px;
  }
  
  
  
  