.textJC {
    text-align: justify;
    margin-top: 2rem;
    font-family: "Open Sans";
}

.policeTitle {
    font-family: "Delicious Handrawn";
}

.textName {
    text-align: center;
}

.imageET {
    margin-top: 2rem !important;
    margin-left: 2rem;
}

.separator {
    color: rgb(115, 192, 209);
    border-top-width: 2px;
  }
  
  
  
  