.textJC {
    text-align: justify;
    margin-top: 2rem;
    font-family: "Open Sans";
}

.policeTitle {
    font-family: "Delicious Handrawn";
}

.textName {
    text-align: center;
}

.imageET {
    margin-top: 2rem !important;
}

.separator {
    color: rgb(115, 192, 209);
    border-top-width: 2px;
  }
 
  
@media screen and (max-width: 767px) {
    .about {
        display: none;
    }

    .imageET {
        width: 100%;
        max-width: 200px; /* la largeur maximale de l'image */
      }

      .textContainer {
        margin: 0 1rem;
      }
}
  