.container {    
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleFullWidth {
    margin-bottom: 3rem;
    text-align: center;
    font-family: "Delicious Handrawn";
    color: rgb(29, 165, 215);
}

.sectionBox { 
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageBackg {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; */
    width: 100%;
    height: 100%;
    z-index: 0;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  
  
.card {
    width:55vh;
    height: 60vh;
    text-align: center;

    /* Glassmorphism card effect */
    backdrop-filter: blur(3px) saturate(180%);
    -webkit-backdrop-filter: blur(3px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.coco {
    color: rgb(29, 165, 215);
}

.cocoTitle{
    font-size: 3.5vh;
    margin-top: 2rem;
}

.avatar {
    width: 14vh;    
    border-radius: 10px;
    margin-top: 4vh;
}

.socialIcons {
    margin-top: 6vh;
    font-size: 7vh;
    display: flex;
    justify-content: center;
    gap: 3rem;
    text-decoration: none;
  }

  .socialIcons a {
    text-decoration: none;
  }

  .iconCircle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background-color: rgb(74, 197, 242);
  }
  
  .iconCircle a {
    color: #ffffff;
    font-size: 6vh;
  }

  .socialIcons .iconCircle a:hover {
    -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
  40%, 43% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  }
  70% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  }
  90% {
  -webkit-transform: translate3d(0,-4px,0);
  transform: translate3d(0,-4px,0);
  }
  }
  
  @keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
  40%, 43% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  }
  70% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  }
  90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
  }
  }
  


  
  