.back {
    background-image: url("../images/photo2.jpg");
    background-size: cover;
    width: 100%;
    height: 80%;
}

.mess1 {
  margin-top: 7rem;
  margin-left: 7rem;
  background-color: red;
}

.mess2 {
  margin-top: 12rem;
  margin-left: 90rem;
  background-color: rgb(23, 180, 247);
}