.container {
  margin: auto;
  font-family: "Open Sans";
}

.cheval {
  margin-top: 0 !important;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: white !important;
}

.navopacity {
  background-color: rgb(252, 252, 252, 0.5) !important;
}

.customToggler {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  border: solid;
  border-width: 1px;
  font-size: 1rem;
}

.walakIcon {
  margin-left: 1rem;
}

#navbarSupportedContent {
  margin-left: -3rem;
}

/* class="navbar navbar-expand-md navbar-dark bg-dark" */

@media screen and (max-width: 767px) {
  .navbar {
    background-color: transparent;
  }

  .bgDark {
    --bs-bg-opacity: 0.2 !important;
  }

  .container {
    margin-top: -1rem;
  }

}



