.container {
  /* margin: auto; */  
  font-family: "Open Sans";
}

.cheval {
  margin-top: 0 !important;
}

.camion {
  margin-top: -0.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: white !important;
}

.navopacity {
  background-color: rgb(252, 252, 252, 0.5) !important;
}

.customToggler {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  border: solid;
  border-width: 1px;
  font-size: 1rem;
}

.walakIcon {
  margin-left: 2rem;
  border-radius: 10px;
  box-shadow:  -8px 8px 12px #0cf52f;            
  
}


#navbarSupportedContent {
  margin-left: -3rem;
}

.footerWrapper {
  background-color: rgb(2, 19, 54);
  height: 5vh;
  width: 100%;
}

.backFooter {
  background-color: rgb(2, 19, 54);
  font-family: "Press Start 2P";
  font-size: 1rem;
  height: 5vh;
  width: auto;
  text-align: right;
  margin-right: 3rem;  
  color: white;
}

@media screen and (max-width: 767px) {

  
  .navbar {
    background-color: transparent;
  }

  .bgDark {
    --bs-bg-opacity: 0.2 !important;
  }


  .container {
    margin-top: -1rem;
  }

  .navMarge {
    margin-top: 2rem !important;
  }

  .customToggler {
    position: absolute;
    top: 2rem;
    right: 0.5rem;
    border: solid;
    border-width: 1px;
    font-size: 1rem;
  }

  .backFooter {
    text-align: center;
    margin: auto;
    font-size: 0.8rem;
  }


}



